.red{
    background-color:red;
}
.green{
    background-color:green;
}
.blue{
    background-color:blue;
}
.yellow{
    background-color:yellow;
}
.violet{
    background-color:violet;
}
.pink{
    background-color:pink;
}


.drag-to-canvas{
    width: 100px;
    height: 100px;
}
.dragging-active{
    background-color:gray;
}